<nav class="bg-white shadow-lg">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-20 items-center">
      <!-- Logo -->
      <div class="flex-shrink-0">
        <a routerLink="/client" class="logo flex items-center no-underline">
          <img src="assets/img/b.jpg" alt="Logo">
          <span id="logo-text" class="hidden lg:block ml-2">TechRhoots</span>
        </a>
      </div>
      
      <!-- Liens Centraux -->
      <div class="hidden md:flex space-x-8">
        <a routerLink="/client" id="home-link" class="nav-link">Home</a>
        <a routerLink="/client/about" id="about-link" class="nav-link">About</a>
        <a routerLink="/client/solutions" id="solutions-link" class="nav-link">Solutions</a>
        <a routerLink="/client/projects" id="projects-link" class="nav-link">Projects</a>
      </div>
      
      <!-- Côté Droit -->
      <div class="flex items-center space-x-4">
   
        
        <!-- Bouton Sign In -->
        <a routerLink="/signin" id="signin-link" class="signin-btn">
          Sign In
        </a>
      </div>
    </div>
  </div>
</nav>