<h1 mat-dialog-title>Add Budget</h1>
<div mat-dialog-content>
  <form [formGroup]="BudgetForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="montant">Montant(TND)</label>
      <input id="montant" formControlName="montant" class="form-control" type="number" required>
      <div *ngIf="BudgetForm.get('montant')?.invalid && BudgetForm.get('montant')?.touched" class="text-danger">
        <div *ngIf="BudgetForm.get('montant')?.errors?.['required']">Montant is required.</div>
        <div *ngIf="BudgetForm.get('montant')?.errors?.['min']">Montant must be greater than 10000.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input id="description" formControlName="description" class="form-control" type="text" required>
    </div>

    <div class="form-group">
      <label for="nom">Nom</label>
      <input id="nom" formControlName="nom" class="form-control" type="text" required>
      <div *ngIf="BudgetForm.get('nom')?.invalid && BudgetForm.get('nom')?.touched" class="text-danger">
        <div *ngIf="BudgetForm.get('nom')?.errors?.['required']">Nom is required.</div>
        <div *ngIf="BudgetForm.get('nom')?.errors?.['minlength']">Nom must be at least 3 characters long.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="tache">Tâche</label>
      <select id="tache" formControlName="tache" class="form-control" required>
        <option *ngFor="let t of taches" [ngValue]="t">{{ t.nom }}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary mt-3" [disabled]="BudgetForm.invalid">Add</button>
    <button type="button" class="btn btn-secondary mt-3" (click)="onCancel()">Cancel</button>
  </form>
</div>
